{% extends "layout.html.twig" %}

{% block title %}edit application{% endblock title %}

{% block content %}
    <h3>edit {{ application.name }}</h3>
    <form action="{{ path_for("application_edit", {'id' : application.id}) }}" method="post">
        <div class="form-group">
            <input placeholder="name" name="name" value="{{ application.name }}" class="form-control"/>
            <input placeholder="description" name="description" value="{{ application.description }}"
                   class="form-control"/>
            <p>
                <b>application id:</b> {{ application.application_id }} |
                <b>application seed:</b> {{ application.application_seed }}
            </p>
        </div>
        <button class="btn btn-primary" type="submit">send</button>
    </form>
    <p>
        <a href="{{ path_for("application_settings", {'id' : application.id}) }}">configure</a> this application<br>
        go <a href="{{ path_for("application_index") }}">back</a><br>
        <a href="{{ path_for("application_delete", {'id' : application.id}) }}">delete</a> this application
    </p>
{% endblock content %}
