{% extends "layout.html.twig" %}

{% block title %}your applications{% endblock title %}

{% block content %}
    {% if applications | length == 0 %}
        <p>You do not have any applications yet</p>
    {% else %}
        <h3>a list of your applications</h3>
        {% for app in applications %}
            <div class="post">
                <h4>
                    {{ app.name }}
                </h4>
                <small>{{ app.description }}</small>
                <p class="pull-right">
                    <a class="glyphicon glyphicon-edit" href="{{ path_for('application_edit', {'id': app.id}) }}"><span></span></a>
                    <a class="glyphicon glyphicon-stats" href="{{ path_for('application_show', {'id': app.id}) }}"><span></span></a>
                </p>
            </div>
        {% endfor %}
    {% endif %}
    <p>create a <a href="{{ path_for("application_new") }}">new application</a></p>
{% endblock content %}
