{% extends "layout.html.twig" %}

{% block title %}show application{% endblock title %}

{% block content %}
    <h3>show {{ application.name }}</h3>
    <small>{{ application.description }}</small>
    <div class="post">
        <h4>total users</h4>
        <p class="lead">
            {{ stats.usersCount|default('0') }}
        </p>
    </div>

    <div class="post">
        <h4>total devices</h4>
        <p class="lead">
            {{ stats.devicesCount|default('0') }}
        </p>
    </div>

    <div class="post">
        <h4>total collections</h4>
        <p class="lead">
            {{ stats.collectionsCount|default('0') }}
        </p>
    </div>

    <div class="post">
        <h4>total entities</h4>
        <p class="lead">
            {{ stats.entitiesCount|default('0') }}
        </p>
    </div>

    <p>go <a href="{{ path_for("application_index") }}">back</a><br>
        <a href="{{ path_for("application_edit", {'id' : application.id}) }}">edit</a> this application</p>
{% endblock content %}
